{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: 0;
  }

  .section-{{ section.id }}
  -padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}
    -padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer">
  <div class="footer__links">
    <div>
      <ul class="footer__links--menu">
        <li>Inicio</li>
        <li>Acerca de nosotros</li>
        <li>Historia</li>
        <li>Contacto</li>
      </ul>
    </div>
    <div class="footer_links">
      <ul class="footer__links--social-media">
        <li>
          <span class="svg-wrapper">{{ 'group-22.svg' | inline_asset_content }}</span>
        </li>
        <li>
          <span class="svg-wrapper">{{ 'group-23.svg' | inline_asset_content }}</span>
        </li>
        <li>
          <span class="svg-wrapper">{{ 'group-24.svg' | inline_asset_content }}</span>
        </li>
        <li>
          <span class="svg-wrapper">{{ 'group-25.svg' | inline_asset_content }}</span>
        </li>
        <li>
          <span class="svg-wrapper">{{ 'group-26.svg' | inline_asset_content }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div>
      <span class="svg-wrapper footer-logo">{{ 'logo-tenis.svg' | inline_asset_content }}</span>
    </div>
  </div>
</footer>